<div class="col-md-8 offset-md-2">
  <div class="jumbotron">
      <h1 class="display-4">Welcome to MUSIFY!!!</h1>
      <p class="lead">Start listening to your favorite artists and discover new hits.</p>
      <hr class="my-4">
      <p>Musify is a streaming music, podcast and digital video service that gives you access to millions of songs and other content from artists around the world.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" [routerLink]="['/artists/1']" role="button">View artists</a>
      </p>
    </div>
</div>
